<!DOCTYPE html>
<html>
  <head>
    <title>Sudogame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="nav">
      <a href="/sudoo">數獨</a>
      <a href="/tictac">圈圈叉叉</a>
    </div>
    <%= yield %>
  </body>
</html>
